/* app/globals.css */
@import "tailwindcss";

/* Set up default text colors and a smooth transition
  for light/dark mode.
*/
body {
  @apply bg-white text-gray-800 transition-colors duration-200 dark:bg-gray-900 dark:text-gray-200;
}
