/* app/globals.css */
@import "tailwindcss";

@layer base {
  :root {
    --background-light: #ffffff;
    --background-dark: #111827;
    --text-light: #1f2937;
    --text-dark: #f9fafb;
    --primary-light: #1e40af;
    --primary-dark: #60a5fa;
    --secondary-light: #f3f4f6;
    --secondary-dark: #1f2937;
  }
}

/* Set up default text colors and a smooth transition
  for light/dark mode.
*/
body {
  @apply bg-[var(--background-light)] text-[var(--text-light)] transition-colors duration-200 dark:bg-[var(--background-dark)] dark:text-[var(--text-dark)];
}

.dark body {
}

.glowing-text {
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px var(--primary-light), 0 0 10px var(--primary-light),
      0 0 15px var(--primary-light);
  }
  50% {
    text-shadow: 0 0 20px var(--primary-light), 0 0 30px var(--primary-light),
      0 0 40px var(--primary-light);
  }
  100% {
    text-shadow: 0 0 5px var(--primary-light), 0 0 10px var(--primary-light),
      0 0 15px var(--primary-light);
  }
}

.dark .glowing-text {
  animation: glowing-dark 2s infinite;
}

@keyframes glowing-dark {
  0% {
    text-shadow: 0 0 5px var(--primary-dark), 0 0 10px var(--primary-dark),
      0 0 15px var(--primary-dark);
  }
  50% {
    text-shadow: 0 0 20px var(--primary-dark), 0 0 30px var(--primary-dark),
      0 0 40px var(--primary-dark);
  }
  100% {
    text-shadow: 0 0 5px var(--primary-dark), 0 0 10px var(--primary-dark),
      0 0 15px var(--primary-dark);
  }
}
